.jumbotron {
	padding-top: 20px !important;
	padding-bottom: 10px !important;
}

.page-header {
	margin: 5px 0px 20px;
}

.list-group-item {
	margin-bottom: 3px !important;
	box-shadow: 5px 5px 5px #888888;
}

.grey-background {
	border: 1px solid #d1d1d1 !important;
	background-color: #d1d1d1;
}

.list-group {
	padding: 5px;
}

.repository-link {
	display: block;
}